.header {
  display: flex;
  grid-area: head;
  align-items: center;
  justify-content: center;
  background-color: #264896;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(38,72,150,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(38,72,150,1);
  box-shadow: 0px 0px 5px 1px rgba(38,72,150,1);
  margin: 0.3%;

  &-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../assets/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 0 0 2%;
    height: 100%;
    width: 10%;
  }

  &-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    overflow: hidden;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;

      &_button {
        display: flex;
        align-items: center;
        list-style-type: none;

        &--link {
          font-family: Montserrat-Bold;
          font-size: 1vw;
          color: #ffffff;
          margin: 0.5vw;
          text-decoration: none;
          cursor: pointer;
        }

        &--link:hover {
          text-shadow: 0 0 10px #ffffff;
        }

        .active__link {
          border-bottom: solid #ffffff 3px;
        }
      }
    }

    &__mobile {
      display: none;
    }
  }

  &-languages {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 2% 0 0;
    width: 10%;

    &__lt, &__en, &__de {
      background-color: #264896;
      border: none;
      font-family: Montserrat-Bold;
      font-size: 1vw;
      color: #ffffff;
      padding: 0.5vw;
      cursor: pointer;
    }

    &__lt:hover, &__en:hover, &__de:hover {
      text-shadow: 0 0 10px #ffffff;
    }

    &__lt:focus, &__en:focus, &__de:focus {
      background-color: #3a5594;
      outline: #ffffff auto 1px;
    }
  }
}

@media (max-width: 1000px) {

  .hide {
    display: none;
  }

  .header {
    &-logo {
      margin: 0 0 0 2%;
      height: 50%;
      width: 25%;
    }
    &-nav {
      height: 100%;
      width: 50%;

      &__item {
        display: none;
      }

      &__menu {
        display: flex;
        background-image: url(../../assets/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 30%;
        width: 30%;
      }
    }
    
    &-languages {
      margin: 0 2% 0 0;
      width: 25%;
      overflow: hidden;

      &__lt, &__en, &__de {
        font-size: 3vw;
        margin: 1vw;
      }
    }
  }
}

@media (max-width: 1000px) and (orientation: landscape) {

  .hide {
    display: none;
  }

  .header {
    &-logo {
      margin: 0 0 0 2%;
      height: 50%;
      width: 25%;
    }
    &-nav {
      height: 100%;
      width: 50%;

      &__item {
        display: none;
      }

      &__menu {
        display: flex;
        background-image: url(../../assets/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 30%;
        width: 30%;
      }
    }
    
    &-languages {
      margin: 0 2% 0 0;
      width: 25%;
      overflow: hidden;

      &__lt, &__en, &__de {
        font-size: 1vw;
        margin: 1vw;
      }
    }
  }
}
