* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

#page {
  display: grid;
  position: relative;
  grid-template-columns:  [c1] 1fr [c2] 1fr [c3] 1fr [c4] 1fr [c5];
  grid-template-rows:     [r1] 10% [r2] 1fr [r3] 10% [r4];
  grid-template-areas:    "head head head head" 
                          "cont cont cont cont" 
                          "foot foot foot foot";
  height: 100vh;
}
