// font size

$xxxhdpi_nav-size: 36px;
$xxxhdpi_content-title: 40px;
$xxxhdpi_content-text: 36px;
$xxxhdpi_content-footer: 40px;

$xxhdpi_nav-size: 26px;
$xxhdpi_content-title: 30px;
$xxhdpi_content-text: 26px;
$xxhdpi_content-footer: 30px;

$xhdpi_nav-size: 16px;
$xhdpi_content-title: 20px;
$xhdpi_content-text: 16px;
$xhdpi_content-footer: 20px;

$hdpi_nav-size: 14px;
$hdpi_content-title: 18px;
$hdpi_content-text: 14px;
$hdpi_content-footer: 18px;