.about-certificate {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);;
  position: absolute;
  height: 100%;
  width: 100%;

  &__image {
    object-fit: contain;
    height: 90%;
    max-width: 90%;
    cursor: pointer;
  }
}

.about {
  display: flex;
  grid-area: cont;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  overflow: hidden;

  &-content {
    padding: 2vh 3vw;
    width: 50%;

    &__text {
      font-family: Montserrat-SemiBold;
      font-size: 0.8vw;
      text-align: left;
    }

    &__text::first-letter {
      padding-left: 50px;
    }

    &__certificate {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 3vh;
      height: 30%;
      width: 100%;

      &--img {
        object-fit: contain;
        height: 100%;
        width: 30%;
        cursor: pointer;
      }
    }

    &__tables {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 3vh;
      width: 100%;

      &--text {
        color: #264896;
        font-family: Montserrat-SemiBold;
        font-size: 0.8vw;
        text-align: left;
        text-decoration: underline;
      }
    }
  }

  &-media {
      -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,1);
      -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,1);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,1);
    height: 80%;
    object-fit: cover;
    overflow: hidden;
  }
}

@media (max-width: 1000px) {
  .about {
    &-content {
      height: 100%;
      width: 100%;

      &__text {
        font-size: 3vw;
      }

      &__tables {
  
        &--text {
          font-size: 3vw;
        }
      }
    }   
    
    &-media {
      position: absolute;
      background-image: url(../../assets/about_us_1x.jpg);
      background-size: cover;
      margin: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      opacity: 0.3;
      z-index: -999;
    }
  }
}

@media (max-width: 1000px) and (orientation: landscape) {
  .about {
    &-content {
      &__text {
        font-size: 1vw;
      }
    }
  }
}
