.automation {
  display: flex;
  grid-area: cont;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  margin: 10px;

  &-content {
    display: flex;
    background-image: url(../../assets/carousel_01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  &-text {
    position: absolute;
    font-family: Montserrat-SemiBold;
    font-size: 1vw;
    color: #ffffff;
    padding: 3% 3% 0 0;
    margin: 3% 3% 0 0;
    text-align: right;
  }
}

@media (max-width: 1000px) {
  .automation {

    &-text {
      font-size: 3vw;
    }
  }
}

@media (max-width: 1000px) and (orientation: landscape) {
  .automation {
    align-items: flex-end;
    justify-content: center;

    &-text {
      font-size: 2vw;
    }
  }
}
