.home {
  display: flex;
  grid-area: cont;
  justify-content: center;
  margin: 10px;

  &-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
      -webkit-box-shadow: 0px 0px 5px 1px rgba(38,72,150,1);
      -moz-box-shadow: 0px 0px 5px 1px rgba(38,72,150,1);
    box-shadow: 0px 0px 5px 1px rgba(38,72,150,1);
    height: 80%;
    width: 100%;
    overflow: hidden;

    &__01 {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      background-image: url(../../assets/carousel_01.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 3%;
      height: 100%;
      width: 100%;

      &_title {
        display: flex;
        justify-content: flex-end;
        font-family: Montserrat-Bold;
        font-size: 1.2vw;
        color: #ffffff;
        padding: 0 0 2% 0;
        text-align: center;
        text-shadow: 0 0 10px #000000;
      }

      &_text {
        display: flex;
        justify-content: flex-end;
        font-family: Montserrat-SemiBold;
        font-size: 1vw;
        color: #ffffff;
        padding: 5px 0;
        text-align: right;
        text-shadow: 0 0 10px #000000;
      }
    }

    &__02 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      background-image: url(../../assets/carousel_02.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 3%;
      height: 100%;
      width: 100%;

      &_title {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        font-family: Montserrat-Bold;
        font-size: 1.2vw;
        color: #ffffff;
        margin: 0;
        padding: 0 0 2% 0;
        text-align: center;
        text-shadow: 0 0 10px #000000;
      }

      &_text {
        display: flex;
        justify-content: flex-start;
        font-family: Montserrat-SemiBold;
        font-size: 1vw;
        color: #ffffff;
        padding: 5px 0;
        text-align: left;
        text-shadow: 0 0 10px #000000;
      }
    }
  }

  &-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    bottom: 12%;
    text-align: center;
    height: 10%;
    width: 100%;

    &__text {
      font-family: Montserrat-Bold;
      font-size: 1vw;
      color: #000000;
    }
  }
}

@media (max-width: 1000px) {
  .home {
    &-carousel {
      &__01, &__02 {
        &_title {
          font-size: 3.5vw;
        }
        &_text {
          font-size: 3vw;
        }
      }
    }
    &-info {
      &__text {
        font-size: 3vw;
      }
    }
  }
}

@media (max-width: 1000px) and (orientation: landscape) {
  .home {
    &-carousel {
      &__01, &__02 {
        &_title {
          font-size: 1.2vw;
        }
        &_text {
          font-size: 1vw;
        }
      }
    }
    &-info {
      &__text {
        font-size: 1vw;
      }
    }
  }
}
