//  Fonts

@font-face {
  font-family: Montserrat-Bold;
  src: url(../assets/Fonts/Montserrat-Bold.otf);
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url(../assets/Fonts/Montserrat-SemiBold.otf);
}

//  Utilities
@import './utilities/layout';

//  Components
@import './Components/header';
@import './Components/footer';
@import './Components/mobile';

//  containers
@import './containers/home';
@import './containers/aboutUs';
@import './containers/tables';
@import './containers/equipment';
@import './containers/parts';
@import './containers/automation';
@import './containers/projects';
@import './containers/contacts';